.button {
  cursor: pointer;
  font-family: inherit;
  line-height: 2;
  outline: none;
  text-decoration: none;

  &--middle {
      border-radius: .25rem;
  }

  &--middle--link {
    border-radius: .25rem;
    padding: .5rem .10rem;
  }

  &--inverse {
      background: $teal;
      border-color: $teal;
      color: #fff;
      transition: opacity 300ms ease-in-out;

  &:hover {
    background: $teal;
    color: #fff;
    opacity: .8;
  }
}

  &--fluid {
   width: 100%;
   }
}

// タブレット向け
@media screen and (min-width:768px) and (max-width: 959px) {
  .button {
    &--middle {
      font-size: 1rem;
      padding: .5rem .75rem;
    }

  &--middle--link {
    // font-size: 1rem;
    border-radius: .25rem;
    padding: .7rem .7rem;
    margin: 0 .15rem;
  }
 }
}

@media screen and (min-width:960px) and (max-width:1279px) {
  .button {
    &--middle {
      padding: .5rem .75rem;
    }

    &--middle--link {
      border-radius: .25rem;
      margin: 0 .15rem;
      padding: .7rem .7rem;
    }
  }  
}

// PC向け
@media screen and (min-width:1280px) {
  .button {
    &--middle {
      padding: .5rem .75rem;
    }

    &--middle--link {
      border-radius: .25rem;
      margin: 0 .15rem;
      padding: .7rem .7rem;
    }
  }
}
