// スマホ向け
.grid {
    display: grid;
    grid-gap: 4% 0;
    grid-template-columns: repeat(auto-fit, 100%);
    word-wrap: break-word;
}

// タブレット向け
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    .grid {
        display: grid;
        grid-gap: 2% 3%;
        grid-template-columns: repeat(auto-fit, 47%);
        word-wrap: break-word;
    }
}

// PC向け
@media screen and (min-width:1024px) {
  .grid {
    display: grid;
    grid-gap: 2% 2%;
    grid-template-columns: repeat(auto-fit, 32%);
    &__item {
      margin-bottom: 5rem;
      word-wrap: break-word;
    }
  }
}
