// スマホ向け
.home {
  position: relative;
    &__photo {
        background-color: rgba(0,0,0,0.4);
        background-image: url(/img/customer-main.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40rem;
        opacity: 0.9;
  }

  &__msg {
    color:#f8f8ff;
    font-size: 2.7rem;
    line-height: 3rem;
    height: 3rem;
    padding-top: 10rem;
    margin: 0;
    text-align: center;
  }

  &__search {
    display: flex;
    height: 3.5rem;
    justify-content: center;
    position: relative;
    top: 10rem;
  }
  .search {
    &__searchBar {
      width: 80%;
    }
    &__magnify {
      width: 3rem;
    }
  }
}

// タブレット向け
@media screen and (min-width:768px) and (max-width: 1024) {
  .home {
    .search {
      &__magnify {
        width: 4rem;
      }
    }
  }
}

// PC向け
@media screen and (min-width:1024px) {
  .home {
    margin-top: 3.7rem;
    &__photo {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        opacity: 0.9;
  }
  
  &__msg {
    color: #f8f8ff;
    font-size: 3rem;
    padding-top: 8rem;
    margin: 0;
    text-align: center;
  }


    .search {
      &__magnify {
        width: 4rem;
      }
    }
  }
}
