.search {
    &__searchBar {
      border-radius: 8px 0 0 8px;
      border: none;
      font-size: 16px;
    }
    &__searchSquare {
         background-color: $red;
         border: none;
         color: white;
         cursor: pointer;
    }
    &__magnify {
         background-color: $red;
          border: none;
         border-radius: 0 8px 8px 0;
         color: white;
         cursor: pointer;
        }
  }
