.terms-of-service {
    &__wrapper {
        padding: 15px;
    }
}

// タブレット向け
@media screen and (min-width:768px) and (max-width: 1024) {
}

// PC向け
@media screen and (min-width:1024px) {
    .terms-of-service {
        &__wrapper {
            margin-top: 4rem;
            padding: 3rem;
        }
    }
        
}